.catalog {
  margin-bottom: 58px;
}

.catalog__title {
  @include centering;

  margin-bottom: 30px;
  min-height: 177px;

  background-color: $background-color;
}

.catalog-list {
  @include ul-reset;
}

.catalog-list__item {
  margin-bottom: 30px;
}

.catalog-list__image {
  display: block;
  width: 100%;
}

.catalog-list__description {
  padding-top: 29px;
  padding-left: 28px;
  padding-right: 28px;
  border: solid 1px #ececec;
}

.catalog-list__text {
  margin-top: 0;
  margin-bottom: 27px;
  font-size: 13px;
  line-height: 2.31;

  color: #444444;
}

.catalog-list__buy {
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding-top: 20px;
  font-size: 15px;
  font-weight: bold;
  line-height: 1.6;

  border-top: 1px solid #ececec;
}

.catalog-list__cart svg {
  fill: #231f20;
  opacity: 0.2;
  cursor: pointer;
}


@media (min-width: $tablet-width) {
  .catalog {
    margin-bottom: 58px;
  }

  .catalog__title {
    position: relative;

    align-items: flex-start;
    margin-bottom: 79px;

    min-height: 127px;

    &::after {
      @include bg-zigzag-fill;
    }
  }

  .catalog-list__item {
    margin-bottom: 54px;
  }

  .catalog-list__wrapper {
    display: flex;
    flex-wrap: wrap;
  }

  .catalog-list__image-wrap,
  .catalog-list__description {
    width: 50%;
  }

  .catalog-list__image {
    width: 100%;
  }

  .catalog-list__link {
    margin-bottom: 5px;
    width: 232px;
  }

  .catalog-list__description {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;

    padding-top: 29px;
    padding-left: 25px;
    border: solid 1px #ececec;
  }

  .catalog-list__link-text {
    margin-bottom: 0;

    color: #000000;
  }

  .catalog-list__text {
    margin-bottom: 0;
    font-size: 15px;
    line-height: 2;
  }

  .catalog-list__buy {
    margin-top: auto;

    padding-top: 1px;
    margin-right: 3px;
    margin-bottom: 5px;
    margin-left: 6px;

    font-size: 17px;
    font-weight: bold;
    line-height: 1.6;

    border-top: 1px solid #ececec;
  }
}

@media (min-width: $desktop-width) {
  .catalog {
    margin-bottom: 58px;
  }

  .catalog__title {
    margin-bottom: 122px;

    min-height: 162px;

    &::after {
      @include bg-zigzag-fill(34px);
    }
  }

  .catalog__wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }

  .catalog-list__wrapper {
    flex-direction: column;
  }

  .catalog-list__image-wrap,
  .catalog-list__description {
    width: 316px;
  }

  .catalog-list__item {
    margin-bottom: 0;
    margin-right: 51px;
  }

  .catalog-list__item:nth-child(3n) {
    margin-right: 0;
  }

  /*.catalog-list__image {
     width: 100%;
  }*/

  .catalog-list__description {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding-top: 27px;
    /*padding-left: 28px;*/

    min-height: 197px;
    border: solid 1px #ececec;
  }

  .catalog-list__text {
    margin-bottom: 1px;
  }

  .catalog-list__buy {
    padding-top: 2px;
    margin-right: 0;
    margin-left: 1px;
  }
}
