.contacts {
  margin-bottom: 623px;
}

.contacts__title {
  margin-bottom: 26px;

  font-size: 18px;
  font-weight: bold;
  line-height: 1.67;
}

.contacts__mail,
.contacts__adress {
  display: flex;
}

.contacts__mail {
  margin-bottom: 30px;
}

.contacts__adress {
  margin: 0;
}

.contacts__mail-title,
.contacts__mail-link,
.contacts__adress-title,
.contacts__adress-text {
  padding: 0;
  margin: 0;

  font-size: 15px;
  line-height: 2;
  color: #444444;
}

.contacts__mail-title,
.contacts__adress-title {
  padding-right: 30px;
}

.contacts__mail-link {
  border-bottom: 1px solid $contrast-color;
}

.contacts__adress-text {
  width: 141px;
  font-style: normal;
}

@media (min-width: $tablet-width) {
  .contacts {
    margin-bottom: 583px;
  }

  .contacts__title {
    margin-bottom: 51px;

    font-size: 43px;
    line-height: 1.16;
  }
}

@media (min-width: $desktop-width) {
  .contacts {
    margin-bottom: 288px;
  }

  .contacts__title {
    font-size: 53px;
    line-height: 1.08;
  }
}
