.form__title {
  @include centering;

  margin-bottom: 30px;
  min-height: 177px;

  background-color: $background-color;
}

.form__description {
  margin-top: 0;
  margin-bottom: 30px;

  font-size: 13px;
  line-height: 24px;

  color: $text-color;
}

.form__fieldset {
  padding: 0;
  margin: 0;
  margin-bottom: 34px;

  border: none;
}

.form__legend {
  position: relative;
  margin-bottom: 30px;

  width: 100%;

  font-size: 17px;
  font-weight: bold;
  line-height: 16px;

  color: $contrast-color;
  text-transform: uppercase;

  &::after {
    position: absolute;
    content: "";

    top: 8px;
    left: 62px;

    width: 76.15%; /* 198px от 260px */
    height: 1px;
    background-color: $contrast-color;
  }

  &--mail {
    &::after {
      left: 81px;
      width: 68.84%; /* 179px от 260px */
    }
  }
}

.form__type-list,
.form__color-list {
  @include ul-reset;
}

.form__type-item:not(:last-child),
.form__color-item:not(:last-child) {
  margin-bottom: 35px;
}

.form__label {
  padding-top: 10px;
  padding-bottom: 10px;

  font-size: 17px;
  font-weight: bold;
  line-height: 18px;
  color: #000000;
  cursor: pointer;

  &--radio {
    position: relative;
    padding-left: 62px;

    &::before {
      position: absolute;
      content: "";

      top: 2px;
      left: 0;

      width: 40px;
      height: 40px;
      border: 2px solid $button-border-color;
      border-radius: 50%;
    }
  }

  &--checkbox {
    position: relative;
    padding-left: 62px;

    &::before {
      position: absolute;
      content: "";

      top: 2px;
      left: 0;

      width: 40px;
      height: 40px;
      border: 2px solid $button-border-color;
    }
  }
}

.form__name-item {
  margin-bottom: 20px;

  display: flex;
  flex-direction: column;
}

.form__input {
  padding-top: 10px;
  padding-bottom: 17px;
  width: 100%;

  font-size: 19px;
  line-height: 18px;
  color: $text-color;
  border: none;
  border-bottom: 2px solid #000000;

  &::placeholder {
    font-size: 17px;
    line-height: 18px;
    color: rgba(68, 68, 68, 0.3);
  }

  &--radio:checked + .form__label--radio {
    &::after {
      position: absolute;
      content: "";

      top: 14px;
      left: 12px;

      width: 16px;
      height: 16px;
      border-radius: 50%;
      background-color: $contrast-extra-color;
    }
  }

  &--checkbox:checked + .form__label--checkbox {
    &::after {
      position: absolute;
      content: "";

      top: 14px;
      left: 9px;

      width: 22px;
      height: 16px;
      background-image: url("../img/icon-tick.svg");
      background-size: 22px 16px;
    }
  }

  &--message {
    padding-left: 17px;

    box-shadow: inset 0 -2px 0 0 #000000;
    border: solid 2px $button-border-color;

    &::placeholder {
      width: 165px;

      font-size: 17px;
      line-height: 18px;
      color: rgba(37, 14, 14, 0.3);
    }
  }
}

.form__tel-item,
.form__mail-item {
  position: relative;
}

.form__svg {
  position: absolute;
  content: "";

  top: 3px;
  right: 8px;
  opacity: 0.2;
}

.form__note {
  margin-top: 0;
  margin-bottom: 30px;
}


@media (min-width: $tablet-width) {
  .form__title {
    position: relative;

    align-items: flex-start;
    margin-bottom: 66px;

    min-height: 127px;

    &::after {
      @include bg-zigzag-fill;
    }
  }

  .form__description {
    margin-bottom: 10px;

    font-size: 17px;
    line-height: 30px;
  }
}

@media (min-width: $desktop-width) {
  .form {
    margin-bottom: 58px;
  }

  .form__title {
    margin-bottom: 122px;

    min-height: 162px;

    &::after {
      @include bg-zigzag-fill(34px);
    }
  }

  .form__description {
    margin-bottom: 10px;
    margin-left: 175px;

    width: 672px;
  }
}
