.main-nav {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}

.main-nav__link-logo {
  padding-top: 22px;
  height: 79px;

  &:not(&--current) {
    &:hover .main-nav__img-logo,
    &:focus .main-nav__img-logo {
      opacity: 0.6;
    }

    &:active .main-nav__img-logo {
      opacity: 0.3;
    }
  }
}

.main-nav__toggle {
  position: absolute;
  right: 20px;
  display: block;
  padding: 10px;
  border: none;
  font-size: 0;
  cursor: pointer;

  &--opened {
    top: 18px;
    width: 41px;
    height: 40px;
    background: url("../img/icon-menu-close.svg") no-repeat 50% 50%;
  }

  &--closed {
    top: 21px;
    width: 40px;
    height: 34px;
    background: url("../img/icon-menu-open.svg") no-repeat 50% 50%;
  }

  &--nojs {
    display: none;
  }
}

.main-nav__list {
  width: 100%;
  background-color: #ffffff;

  @include ul-reset;
}

.nav-list__item {
  box-shadow: 0 1px 0 0 #ececec, inset 0 1px 0 0 #ececec;
}

.nav-list__svg {
  margin-right: 28px;
  fill: #231f20;
  opacity: 0.2;
  cursor: pointer;
  transform: translateY(3px);

  &--cart {
    margin-right: 25px;
  }
}

.nav-list__link {
  display: flex;
  /*align-items: center;*/
  margin: 0 auto;
  padding-top: 29px;
  padding-bottom: 26px;

  max-width: 260px;

  font-weight: 700;
  color: #000000;

  &--catalog,
  &--knitting {
    padding-left: 46px;
  }

  &:not(&--current) {
    &:hover,
    &:focus {
      opacity: 0.6;
    }

    &:hover .nav-list__svg,
    &:focus .nav-list__svg {
      fill: #63d1bb;
      opacity: 1;
    }

    &:active {
      opacity: 0.3;
    }
  }
}

.nav-list--third,
.main-nav__delivery {
  display: none;
}

@media (max-width: $mobile-width-only) {
  .main-nav__toggle--closed ~ .main-nav__list .nav-list__item {
    display: none;
  }
}

@media (min-width: $tablet-width) {
  .main-nav {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
    min-width: 668px;
  }

  .main-nav__img-logo {
    width: 112px;
    height: 46px;
  }

  .main-nav__link-logo {
    flex-grow: 1;
    margin-bottom: 17px;
    margin-right: 190px;
    padding-top: 22px; /* 22px такой же в мобайл - после всего можно удалить */

    height: 88px;
  }

  .main-nav__toggle {
    display: none;
  }

  .nav-list {
    width: inherit;

    &--first {
      order: 3;

      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;

      font-size: 15px;
      background-color: #f9f9f9;
    }

    &--first-bg-color {
      background-color: $background-color;
    }

    &--second {
      order: 2;

      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;

      height: 88px;  /* удалить? */
      /*width: 350px;*/
    }
  }

  .nav-list__item {
    box-shadow: none;

    &--search {
      border-left: 1px solid rgba(0, 0, 0, 0.1);
      border-right: 1px solid rgba(0, 0, 0, 0.1);
    }
  }

  .nav-list__span-hidden {
    @include visually-hidden;
  }

  .nav-list__link {
    padding: 0;

    &--search {
      padding-left: 31px;
      padding-right: 31px;

      padding-top: 35px;
      padding-bottom: 35px;
    }

    &--cart {
      margin-left: 31px;
      padding-top: 33px;
      padding-bottom: 35px;
    }

    &--catalog {
      margin-right: 36px;
    }
    /*чтоб не наезжало на верхнюю строку */
    &--knitting {
      margin-right: 110px;
    }
  }

  .nav-list__svg--search {
    /*width: 82px;*/
    margin-right: 0;
  }

  .nav-list__svg--cart {
    margin-right: 28px;
  }

  .main-nav__delivery {
    display: block;
    order: 4;

    margin: 0;
    padding-top: 2px;

    font-size: 15px;
    line-height: 1.6;
    color: #444444;
  }
}

@media (min-width: $desktop-width) {
  .main-nav__img-logo {
    width: 149px;
    height: 72px;
  }

  .main-nav__link-logo {
    order: 2;
    flex-grow: 0;

    margin: 0;
    padding-top: 9px;
  }

  .nav-list {
    &--first {
      order: 1;
      padding-top: 0;
      margin-bottom: 1px;

      height: 88px;
      font-size: 17px;

      background-color: #ffffff;

      /*width: 375px;*/
    }

    &--second {
      order: 3;

      margin-left: 29px;
    }

    &--third {
      order: 4;

      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;

      padding-top: 21px;
      font-size: 15px;

      background-color: #f9f9f9;
    }

    &--bg-color {
      background-color: $background-color;
    }
  }

  .nav-list__item--catalog {
    border-right: 1px solid rgba(0, 0, 0, 0.1);
  }

  .nav-list__link {
    &--catalog {
      margin-right: 35px;

      padding-top: 35px;
      padding-bottom: 35px;
    }

    &--knitting {
      margin-right: 0;
      margin-left: 35px;

      padding-top: 35px;
      padding-bottom: 35px;
    }

    &--search {
      padding-left: 35px;
    }

    &--new {
      margin-right: 60px;
    }
  }

  .main-nav__delivery {
    order: 5;

    padding-top: 18px;
  }
}
