.page-footer {
  background-color: $background-color;
}

.page-footer__inner {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

  padding-top: 50px;
  padding-bottom: 30px;
}

.page-footer__link-logo {
  display: none;
}

@media (min-width: $tablet-width) {
  .page-footer__inner {
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
  }

  .page-footer__link-logo {
    display: block;
    margin-right: 80px;
    height: 100%;
  }
}

@media (min-width: $desktop-width) {
  .page-footer__link-logo {
    margin-right: 79px;
  }
}
