.page-footer {
  padding-top: 25px;
  padding-bottom: 23px;
  background-color: $background-color;
}

.page-footer__inner {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

  padding-top: 50px;
  padding-bottom: 30px;

  &::before {
    position: absolute;
    content: "";

    top: 50%;
    left: 0;

    width: 100%;
    height: 1px;
    background-color: #444444; /*или $border-extra-color;*/
  }
}

.page-footer__link-logo {
  display: none;
}

.page-footer__social {
  @include ul-reset;
  margin-bottom: 50px;
}

@media (min-width: $tablet-width) {
  .page-footer {
    padding-top: 50px;
    padding-bottom: 58px;
  }

  .page-footer__inner {
    flex-direction: row;
    flex-wrap: wrap;

    align-items: center;


    &::before {
      display: none;
    }
}

  .page-footer__link-logo {
    display: block;
    margin-right: 80px;
    height: 100%;
  }
}

@media (min-width: $desktop-width) {
  .page-footer__link-logo {
    margin-right: 79px;
  }
}
