.page-form__title {
  @include centering;

  margin-bottom: 30px;
  min-height: 177px;

  background-color: $background-color;
}

.form__type-list,
.form__color-list {
  @include ul-reset;
}

@media (min-width: $tablet-width) {
  .page-form__title {
    position: relative;

    align-items: flex-start;
    margin-bottom: 79px;

    min-height: 127px;

    &::after {
      @include bg-zigzag-fill;
    }
  }
}

@media (min-width: $desktop-width) {
  .page-form {
    margin-bottom: 58px;
  }

  .page-form__title {
    margin-bottom: 122px;

    min-height: 162px;

    &::after {
      @include bg-zigzag-fill(34px);
    }
  }
}
