.social {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;

  margin-bottom: 30px;
  padding-right: 24.2%; /* 63px */
  padding-left: 21.9%; /* 57px; */

  width: 100%; /*140*/

  border-bottom: 1px solid $background-color;

.social__link {
  display: block;

  width: 24px;
  height: 28px;
}

@media (min-width: $tablet-width) {
  .social {
    padding: 0;
    /*padding-top: 1px;*/
    width: 21%; /* 140px */
  }
}

@media (min-width: $desktop-width) {
  .social {
    width: 140px;
  }
}
