.superior {
  margin-bottom: 36px;
}

.superior__wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  margin-bottom: 36px;
}

.superior__title {
  order: 1;

  margin-bottom: 38px;
}

.superior__type {
  order: 2;

  margin-top: -15px;
  margin-bottom: 30px;

  font-size: 17px;
  font-weight: bold;
  line-height: 1;

  text-transform: uppercase;
  color: #63d1bb;
}

.superior__wrapper-inner {
  order: 4;
}

.superior__img-wrap {
  order: 3;
}

.superior__decription {
  margin-top: 0;
  margin-bottom: 33px;
  font-size: 15px;
  line-height: 1.6;
  color: #444444;
}

.superior__list {
  margin-bottom: 15px;
}

.superior__field,
.superior__value {
  padding-bottom: 20px;

  font-size: 15px;
  line-height: 1.33;
  color: #444444;
}

.superior__field {
  padding-right: 19px;
}

.superior__price {
  margin-bottom: 28px;

  font-size: 17px;
  font-weight: bold;
  line-height: 1.41;
  color: #444444;
  text-align: center;
}

.button {
  @include btn;
}

.superior__zigzag-line {
  @include zigzag-line;
}

@media (min-width: $tablet-width) {
  .superior {
    margin-bottom: 40px;
  }

  .superior__wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    justify-content: center;
  }

  .superior__title {
    margin-bottom: 55px;
  }

  .superior__type {
    width: 80px;
    padding-right: 90px;
    margin-left: auto;
  }

  .superior__wrapper-inner {
    order: 3;
    width: 38%;
    margin-right: auto;
  }

  .superior__decription {
    margin-bottom: 33px;
    font-size: 17px;
    line-height: 1.6;
  }

  .superior__price {
    margin-bottom: 28px;

    font-size: 20px;
    line-height: 1.41;
  }

  .superior__img-wrap {
    order: 4;
  }
}

@media (min-width: $desktop-width) {
  .superior {
    margin-bottom: 40px;
  }

  .superior__wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
  }

  .superior__title {
    order: 2;
    z-index: 5;
    margin-left: 58px;
    margin-bottom: 55px;
  }

  .superior__type {
    order: 1;

    margin-left: 50px;
    width: 80px;
  }

  .superior__wrapper-inner {
    order: 3;
    width: 290px;
    margin-left: 175px;
  }

  .superior__decription {
    margin-bottom: 33px;
    font-size: 17px;
    line-height: 1.6;
  }

  .superior__price {
    margin-bottom: 28px;

    font-size: 20px;
    line-height: 1.2;
  }

  .superior__img-wrap {
    transform: translateY(-130px);
  }
}
