.video {
  margin-bottom: 60px;
}

.video__wrapper {
  border: solid 1px $border-extra-color;

  &:hover .video__title-wrapper,
  &:focus .video__title-wrapper {
    box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.1);
  }

  &:hover .video__description-wrapper,
  &:focus .video__description-wrapper {
    box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.1);
  }

  &:active .video__title-wrapper {
    box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.1);
  }

  &:active .video__description-wrapper {
    box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.1);
  }
}

.video__title-wrapper {
  padding: 23px 31px 26px;
}

.video__title {
  padding-left: 57px;
  margin: 0;

  width: 71%;

  line-height: 24px;

  background-image: url("../img/icon-video.svg");
  background-repeat: no-repeat;
  background-position: 0 50%;
  background-size: 32px 32px;
}

.video__picture {
  position: relative;
}

.video__image {
  width: 100%;
}

.video__play-btn {
  position: absolute;
  content: "";

  top: 50%;
  left: 47%;

  width: 101px;
  height: 77px;
  background-color: transparent;
  border: none;
  transform: translate(-50%, -50%);

  &:hover .video__svg-play,
  &:focus .video__svg-play {
    transform: scale(1.2);
  }

  &:active .video__svg-play {
    transform: scale(0.8);
    opacity: 0.3;
  }
}

.video__description-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  padding-top: 27px;
  padding-left: 34px;
  padding-right: 34px;
  padding-bottom: 31px;

  min-height: 205px;
}

.video__description {
  margin: 0;
  margin-bottom: 24px;

  font-size: 13px;
  line-height: 24px;
  color: $text-color;
}

@media (min-width: $tablet-width) {
  .video {
    margin-bottom: 110px;
  }

  .video__wrapper {
    display: flex;
    flex-direction: column;
    border: none;

    &:hover .video__title-wrapper,
    &:focus .video__title-wrapper {
      box-shadow: 0 -6px 10px 0 rgba(0, 0, 0, 0.1);
    }

    &:active .video__title-wrapper {
      box-shadow: 0 -3px 5px 0 rgba(0, 0, 0, 0.1);
    }
  }

  .video__title-wrapper {
    padding: 37px 41px 20px;
    border: solid 1px $border-extra-color;
    border-bottom: none;
  }

  .video__title {
    padding-left: 66px;

    width: 71%;

    font-size: 20px;

    background-position: 0 100%;
  }

  .video__picture {
    order: -1;
  }

  .video__play-btn {
    left: 49%;
  }

  .video__description-wrapper {
    padding-top: 0;
    padding-left: 41px;
    padding-right: 41px;
    padding-bottom: 46px;

    min-height: 191px;

    border: solid 1px $border-extra-color;
    border-top: none;
  }

  .video__description {
    font-size: 15px;
    line-height: 29px;
    color: $text-color;
  }
}

@media (min-width: $desktop-width) {
  .video__wrapper {
    flex-direction: row;
    flex-wrap: wrap;

    position: relative;
    min-height: 455px;
  }

  .video__title-wrapper {
    margin-left: 682px;
    padding-top: 41px;
    padding-bottom: 0;
    padding-left: 75px;
    padding-right: 57px;
    width: 368px;
  }

  .video__title {
    padding-top: 53px;
    padding-left: 0;
    margin-bottom: 0;

    width: 148px;

    background-position: 4px 0;
  }

  .video__picture {
    position: absolute;
    content: "";

    top: 0;
    left: 0;

    width: 682px;
    height: 455px;
  }

  .video__description-wrapper {
    margin-left: 682px;
    padding-left: 78px;
    padding-right: 57px;
    padding-bottom: 61px;
  }

  .video__description {
    margin-bottom: 12px;
  }
}
