html {
  box-sizing: border-box;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

body {
  min-width: 320px;
  font-family: "Open Sans",
    "Arial",
    sans-serif;
  font-size: 17px;
  line-height: 24px;
  font-weight: normal;
  color: #000000;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  white-space: nowrap;
  clip-path: inset(100%);
}

h1 {
  margin-top: 0;

  font-size: 27px;
  font-weight: 700;
  line-height: 30px;
  text-align: center;
}

h2 {
  margin-top: 0;

  /* поставил 24px так как требуемые 25 не помещаются */
  font-size: 24px;
  font-weight: 700;
  line-height: 1.2;
}

h3 {
  margin-top: 0;

  font-size: 17px;
  font-weight: 700;
  line-height: 1.18;
}
