$mobile-width: 320px;
$tablet-width: 768px;
$desktop-width: 1150px;
$mobile-width-only: 767px;
$border-extra-color: #ececec;
$text-color: #444444;
$title-text-color: #000000;
$link-color: #444444;
$link-color--hover: #46c1ae;
$button-bg-color: #ffffff;  /*исп в button */
$button-border-color: #444444;
$button-field-border-color: #444444; /*исп в button */
$border-color: #ededed;
$contrast-color: #63d1bb;
$contrast-extra-color: #62d1ba;
$background-color: #f1f1f1;
$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;
